<%- include('partials/log-sign') -%>
<div class="give-space">
    <div class="container card-container borda">
        <h4 class="center">Why BAHA-GO?</h4>
        <div class="row justify-content-center">
            <ul class="fa-ul my-4">
                <li class="my-3"><span class="fa-li"><i class="fas fa-check-square fa 2x"></i></span>
                    <p>We believe in the people!<br>We understand how hard it is to find good local restaraunts near you. Thats why we created <b>BAHA-GO!</b> to help eliminate the thought of always guessing where to eat at! </p>
                </li>
                <li class="my-4"><span class="fa-li"><i class="fas fa-check-square fa 2x"></i></span>
                    <p>100% real reviews!<br>Our customers are the ones who run this site. Without you, most people on the island wouldn't know where to dine in. So we appreciate you and your honest reviews. </p>
                </li>
                <li class="my-4"><span class="fa-li"><i class="fas fa-check-square fa 2x"></i></span>
                    <p>Honesty Policy!<br>Our number one policy at <b>BAHA-GO</b> is to provide unbaised data. We do not ask restaurants for money to be posted on our site and we would never accept money from them to manipulate our reviews. Our business model objective is 100% data accuracy. </p>
                </li>

                <li class="my-4"><span class="fa-li"><i class="fas fa-check-square fa 2x"></i></span>
                    <p>Our story<br>We pride ourselves in is the data we are providing you and the satisfaction we get from knowing real people like you are actually using that data to make informed decisions about where to get their next meal. That is what inspires us. </p>
                </li>
            </ul>
        </div>
    </div>

    <section class="px-4 py-5 my-2 text-center pb-5 container borda extra-pad">
        
        <h1 class="display-5 fw-bold">Still undecided? Become a member of one of the fastest growing communities today!</h1>
        <div class="col-lg-6 mx-auto pb-5">
        <p class="lead mb-4">Post your restaraunt review in front of thousands of people for free.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/signup" class="btn btn-primary btn-dark btn-lg ">Sign-up Now!</a>
        </div>
        </div>
    </section>
</div>

  <%- include('partials/footer') -%>